<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="\assets\icon\Encabezado.png">
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true" class="ion-align-items-center">
  <img src="/assets/icon/fondo.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; ">
  <br>
  <br>
  <br>
  <br>
  <div class="card-container" style="display: flex; justify-content: center;">
    <ion-card>
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">
          <img
            src="\assets\icon\logo MA.png"
            alt="Ionic logo"
            loading="lazy"
            width="0%"
          />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
            <ion-title size="large" style="font-family: 'Bebas Neue', sans-serif">Bienvenidos</ion-title>
          <ion-card-content>
            <ion-item>
              <ion-input id="correo" [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input id="password" [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
            </ion-item>
            <ion-row>
              <ion-col size="12">
                <br>
                <ion-button (click)="ingreso()" shape="round" color=purple> Iniciar Sesion </ion-button>
                <ion-button (click)="contrasena()" shape="round" color=purple> He olvidado mi contraseña </ion-button>
                <ion-button (click)="registro()" shape="round" color=purple> Quiero Registrarme </ion-button>
              
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  

